
.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #6a0dad99, #9c27b0); /* Purple gradient */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 0 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.mainContent{
  flex: 1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2{
  text-align: center;
  margin-top: 5rem;
}
button {
  background-color: #bb86fc;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 1rem;
}

button:hover {
  background-color: #a455f7;
}

input[type="text"] {
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  width: 300px;
  text-align: center;
}

