.headContainer{
    width: 100vw;
    background-color: rgb(18, 18, 125, 0.5);
    margin-top: -4rem;
}


.head{
font-size: 3rem;
color: white;
text-align: center;
padding-bottom: 0.5rem;
width: 100%;

}