.container{
   display: flex;
   flex-direction: column;
  justify-content: center;   /* horizontally center */
  align-items: center;       /* vertically center */
  gap: 10px;                 /* space between input and button */
  height: 100px; 
}


.searchInput{
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.searchButton {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}