* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  background: linear-gradient(135deg, #0D0D2B, #1A1A40); /* Cosmic gradient */
  color: var(--text-color);
}
